#matchFoundPage {
  width: var(--Device-Width, 1200px);
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  padding-bottom: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 16px;

  background: none;
  border: none;
  box-shadow: none;
}

#MatchFoundController {
  display: flex;
  flex-direction: column;
  align-items: center;
}